<aside>
  <div class="contact vcard">
    <img src="http://gravatar.com/avatar/ce3b7bc97b5adbdc2cae4d231e4ebad8?s=200x200" alt="photo of Lance" class="photo">
    <a class="url uid fn n noprint" href="http://lrvick.net">
      <span class="given-name">Lance</span> 
      <abbr class="additional-name" title="Reagan">R.</abbr> 
      <span class="family-name">Vick</span>
    </a>
    <span class="org"><a class="url" href="http://tawlk.com">Tawlk (Loopa LLC)</a></span>
    <span class="title">Founder / Lead Engineer</span>
    <a class="email" href="mailto:lance@lrvick.net">lance@lrvick.net</a>
    <div class="adr">
      <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2264+Gator+Dr.+apt+%23359+Orlando,++FL&amp;sll=28.573566,-81.312496&amp;sspn=0.006577,0.011362&amp;g=2264+Gator+Dr.+Orlando,+%23359+FL&amp;ie=UTF8&amp;hq=&amp;hnear=2264+Gator+Dr+%23359,+Orlando,+Orange,+Florida+32807&amp;ll=28.573601,-81.312481&amp;spn=0.000822,0.00142&amp;t=h&amp;z=20&amp;iwloc=A">
        <span class="street-address">2264 Gator Dr #359</span>
        <span class="locality">Orlando</span>
        <span class="region">FL</span>
        <span class="postal-code">32807</span>
        <span class="country-name">USA</span>
      </a>
    </div>
    <div class="tel">
      <span class="type">Cell</span>
      <a class="value" href="callto:14072837596">+1.407.283.7596</a>
    </div>
    <hr/>
    <a rel="me" class="url" href="http://plus.google.com/u/0/109278148620470841006">
      <img src="/img/googleplus.png" title="Google Plus" alt="Google Plus">
    </a>
    <a rel="me" class="url" href="http://www.linkedin.com/in/lrvick">
      <img src="/img/linkedin.png" title="LinkedIn" alt="LinkedIn">
    </a>
    <a rel="me" class="url" href="http://github.com/lrvick">
      <img src="/img/github.png" title="GitHub" alt="Github">
    </a>
    <a rel="me" class="url" href="http://www.facebook.com/people/Lance-Reagan-Vick/600627717">
      <img src="/img/facebook.png" title="Facebook" alt="Facebook">
    </a>
    <a rel="me" class="url" href="http://twitter.com/lrvick">
      <img src="/img/twitter.png" title="twitter" alt="Twitter">
    </a>
    <a rel="me" class="url" href="http://www.last.fm/user/lrvick">
      <img src="/img/lastfm.png" title="Last.fm" alt="Last.fm">
    </a>
    <a rel="me" class="url" href="http://www.youtube.com/lrvick">
      <img src="/img/youtube.png" title="YouTube" alt="YouTube">
    </a>
  </div>
  <h3 class="even">vCard</h3>
  <div class="qrvcard">
    <img src="/img/qrvcard.jpg" alt="vCard QR Code">
    <hr/>
    <a href="/files/lrvick.vcf">Download VCF</a>
  </div>
  <h3 class="odd">Location</h3>
  <div class="latitude">
    <div class="wrapper">
      <iframe src="http://www.google.com/latitude/apps/badge/api?user=9215320111826670805&amp;type=iframe&amp;maptype=roadmap&amp;z=12" width="178" height="219"></iframe>
    </div>
  </div>
  <h3 class="even">Github</h3>
  <div class="github">
  </div>
  <h3 class="odd">Twitter</h3>
  <div class="twitter">
  </div>
  <h3 class="even">Lastfm</h3>
  <div class="lastfm">
  </div>
  <h3 class="odd">Youtube</h3>
  <div class="youtube">
  </div>
</aside>
